@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --base-font-size: 14px;
  font-size: var(--base-font-size);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;

}

.custom-shadow {
 box-shadow: rgba(50, 147, 245, 0.2) 0px 7px 29px 0px;
}